.button-9 {
  display: inline-block;
  text-decoration: none;
  background-color: #A5AAAA;
  vertical-align: text-center;
  box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  color:#333;
  background-color:#FA2;
  border-radius:5px;
  border:none;
  font-family:'Helvetica Neue',Arial,sans-serif;
  font-size:16px;
  font-weight:700;
  height:32px;
  padding:4px 16px;
  text-shadow:#FE6 0 1px 0;
  margin: 10px;
}

#prevButton {
  float: left;
}

#nextButton {
  float: right;
}
